*, :before, :after {
    box-sizing: inherit;
    color: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
    
    transition-duration: .2s;
    transition-property: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
}

#beat-count {
    position: absolute;
    left: 0;
    top: 0;
    margin: 31px;
    
    background-color: white;
    color: #555;
    border-radius: 50%;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    
    width: 50px;
    height: 50px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}

input, button {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    background-color: transparent;
    border: none;
    
    transition-property: background, box-shadow;
}

input[type=checkbox], button {
    cursor: pointer;
}

aside {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #555;
    max-width: 100%;
    padding: 20px 31px;
    color: white;
}

/* sidebar ui */

aside section {
    padding: 20px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

aside input, aside button {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 31px;
    margin-right: 19px;
}

aside input:checked {
    background-color: rgba(255, 255, 255, .3);
}

aside label > * {
    vertical-align: middle;
}

aside label {
    cursor: pointer;
    display: block;
    color: rgba(255, 255, 255, .7);
    
    transition-property: color;
}

aside label:hover {
    color: white;
}

#recording-toggle {
    background-image: url(assets/img/ui/record.svg);
}

#metronome-toggle {
    background-image: url(assets/img/ui/metronome.svg);
}

#save {
    background-image: url(assets/img/ui/save.svg);
}

#load {
    background-image: url(assets/img/ui/load.svg);
}

#reset {
    background-image: url(assets/img/ui/reset.svg);
}